.card {
  width: 80%;
  min-height: 200px;
  padding: 4rem;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  background-color: white;
  color: var(--green500);
  cursor: grab;
  user-select: none;
}

.weddingPhoto {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: left;
}

.weddingPhoto img {
  width: auto !important;
  border-radius: 100%;
  margin-right: 20px;
}

.weddingPhotoText p {
  color: var(--blue500);
}

.card blockquote {
  text-align: left;
  margin-top: 30px;
  font-size: var(--font-size-lg);
}

/* Tablet and Smaller Desktop */
@media (min-width: 701px) and (max-width: 991px) {
  .card {
    width: 90%;
    padding: 3rem;
  }

  .weddingPhoto img {
    width: 150px;
    height: 150px;
  }
  .card blockquote {
    font-size: var(--font-size-md);
  }
}

/* Mobile */
@media (max-width: 700px) {
  .card {
    padding: 1.5rem;
    width: 100%;
  }
  .weddingPhoto {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .weddingPhoto img {
    margin-right: 0;
    margin-bottom: 12px;
    width: 150px;
    height: 150px;
  }
  .card blockquote {
    margin-top: 20px;
    font-size: var(--font-size-md);
  }
}
